html {
    margin: auto;
    padding: 0;
}

body {
    margin: auto;
    padding: 0;
    max-width: 1200px;
}

h1 {
    font-size: 4em;
    background-color: black;
    padding: 0.5em;
    margin: 0;
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 2.5em;
    padding: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: black;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.emulator-container {
    margin: auto;
    padding: 2em;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    align-content: center;
    text-align: center;
}

h3 {
    font-size: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: black;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1em;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
